- hosts: Projeto
  tasks: 
    - name: Instalando o Docker e o Docker Compose
      shell: yum update -y
      shell: amazon-linux-extras install docker -y
      shell: service docker start
      shell: systemctl enable docker
      shell: usermod -a -G docker ec2-user
      shell: yum install git -y
      # shell: curl -L https://github.com/docker/compose/releases/download/1.22.0/docker-compose-$(uname -s)-$(uname -m) -o /usr/local/bin/docker-compose
      # shell: chmod +x /usr/local/bin/docker-compose
      shell: git clone https://github.com/kauanvarella/meu-app.git
      # shell: cd meu-app/
      # shell: chown $USER /var/run/docker.sock
      # shell: sudo docker-compose up -d
      become: yes
