- hosts: Projeto
  become: yes
  tasks: 
    - name: Atualizando pacotes do sistema
      yum:
        name: '*'
        update_cache: yes

    - name: Instalando Polkit
      yum:
        name: polkit
        update_cache: yes

    - name: Instalando Docker
      yum:
        name: docker
        state: latest

    - name: Iniciando o Docker
      service:
        name: docker
        state: started
      become: true

    - name: Habilitando o Docker
      shell: systemctl enable docker
      shell: usermod -a -G docker ec2-user
      shell: chown $USER /var/run/docker.sock

    - name: Instalando o Git
      yum:
        name: git
        state: latest

    - name: Git Clone da aplicacao e entrando no diretorio
      shell: git clone https://github.com/kauanvarella/meu-app.git
      shell: cd ./meu-app/

    - name: Instalando o Docker Compose
      shell: curl -L https://github.com/docker/compose/releases/download/1.22.0/docker-compose-$(uname -s)-$(uname -m) -o /usr/local/bin/docker-compose
      shell: chmod +x /usr/local/bin/docker-compose

    - name: Subindo a aplicacao
      shell: docker-compose up -d