- hosts: Projeto-infra
  become: yes
  tasks: 
    - name: Atualizando pacotes do sistema
      apt:
        name: '*'
        update_cache: yes

    - name: Instalando Docker
      apt:
        name: docker.io

    - name: Iniciando o servico do Docker
      service:
        name: docker
        state: started
      become: true

    - name: Habilitando o Docker
      shell: systemctl enable docker
      shell: usermod -a -G docker ec2-user
      shell: chown $USER /var/run/docker.sock

    # - name: Instalando o Docker Compose
    #   apt:
    #     name: docker-compose

    # - name: Permissao de execucao Docker Compose
    #   file: dest=/usr/bin/docker-compose mode=a+x

    # - name: Instalando o Git
    #   apt:
    #     name: git
    #     state: latest

    # - name: Clonando o repositorio
    #   git:
    #     repo: https://github.com/kauanvarella/meu-app.git
    #     dest: /home/ubuntu/projeto-app
    #     clone: yes
    #     version: master
    #     update: yes

    # - name: Subindo o Docker Compose
    #   docker_compose:
    #     project_src: /home/ubuntu/projeto-app
    #   register: output