- hosts: terraform-ansible
  tasks: 
    - name: Instalando o python3, virtualenv
      apt:
        pkg:
        - python3
        - virtualenv
        update_cache: yes
      become: yes
    - name: Instalando dependencias com pip (Django e Django Rest)
      pip:
        virtualenv: /home/ec2-user/tcc/venv
        name: 
          - django
          - djangorestframework
    - name: Iniciando o projeto
      shell: '. /home/ec2-user/tcc/venv/bin/activate; django-admin startproject setup /home/ec2-user/tcc'
    - name: Alterando nome do settings
      lineinfile:
        path: /home/ec2-user/tcc/setup/settings.py
        regexp: 'ALLOWED_HOSTS'
        line: 'ALLOWED_HOSTS = ["*"]'
        backrefs: yes   #Se não encontrar a linha, não mexe no arquivo
